body,html {
font-size: 20px;
background-color: honeydew;
    margin: 0 0 0 0;
    padding:0;
    height: 100%;
    background-attachment: scroll;
}
header {
    text-align: center;
    position: static;
    background-image: linear-gradient(#cc3333, #ff6633);

}
content {
    background-attachment: scroll;
}

content>img {
    position:fixed;
    left:15px;
    top:240px;
}
footer {
    text-align: center;
    background-image: linear-gradient(#cc3333, #ff6633);
    margin-top: 80px;
    bottom:0;
    left:0;
    height: 173px;
}

div.uzduotis {
    margin: 0 0 0 450px;
    width: 800px;
    border-style: solid;
border-radius: 0 0 6px 6px;
    border-color: chocolate;
    padding: 40px;
    margin-bottom: 1em;
}
footer img, header img {
    vertical-align:middle;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: honeydew;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */

/*Prioritetų Mygtukai*/
a.button {
    border-radius: 6px;
background-color: red;
    color: black;
    text-align: center;
    text-decoration: none;

}
/*technical button info*/
button {
    border-radius: 6px;
    cursor: pointer;

}
button.selected{
    color:red;
}

/*Prioritetų Mygtukai END*/
a {
    background-color: red;
    box-shadow: 0 2px 0 darkred;
    color: white;
    vertical-align: middle;
    padding: 0.3em 0.3em;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    background-color: #ce0606;
    cursor: pointer;
}

a:active {
    box-shadow: none;
    top: 5px;
}

div.error {
    clear: left;
    color: red;
font-size: 25px;
}

.input-error {
    background: #ff9;
    border: 1px solid red;
}

.success_msg {
    width: 350px;
    line-height: 40px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: rgba(213, 255, 187, 0.7);
    display: none;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    text-align: center;
}

.uzbaigta {
    margin: 0 0 0 450px;
    width: 800px;
    border-style: solid;
    border-radius: 0 0 6px 6px;
    border-color: chocolate;
    padding: 40px;
    margin-bottom: 1em;
    opacity: 0.3;
}